.wrapper {
  display: block;
}

.header-container {
  display: flex;
  width: 100%;
  background-color: bisque;
  justify-content: center;
}

.header {
  height: 70px;
}

.nav-link {
  display: inline-flex;
  margin: 15px;
  font-size: 20px;
  font-weight: 500;

  text-decoration: none;
}

.nav-link.active {
  color: red;
}

.main-container {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  justify-content: center;
  background-color: aquamarine;
}
